{% extends 'bootstrap/base.html' %}
{% block head %}
{{super()}}
  <meta charset="UTF-8">
  <title>Outlier</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock %}

{% block title %}
    Outlier Monitor
{% endblock %}

{% block content  %}

<body style="margin: auto; "></body>
 <div class="container" style="margin: auto;">
   <br>
   <br>
    <h1>Outlier monitor</h1>
    <form action="{{ url_for('monitor')}}" method="post">
    	<input type="number" min="1" name="duration" placeholder="Monitoring duration (seconds)" required="required" style="width: 20%" /><br>
      <br>
      <p >Data source:</p>
      <input type="radio" id="live" name="source" value="live">
      <label for="live">Live</label><br>
      <input type="radio" id="historical" name="source" value="historical">
      <label for="historical">Database</label><br><br>
      <button type="submit">Monitor</button><br>
      <br>
    </form>
  </div><br>

  <div class="container">
    <div class="col-md-6">
      <div class="chart" id="bargraph">
          <script>
              var graphs = {{plot | safe}};
              var layout = {
              autosize: false,
              width: 1200,
              height: 500,
              };
              Plotly.plot('bargraph',graphs,{});
          </script>
      </div>
  </div>
</div><br>

{% if plot %}
<div style="padding-left: 200px; padding-bottom: 50px;">
<form action="{{ url_for('detail') }}">
  <input type="submit" value="More detail" />
</form>
</div>
{% endif %}
  

<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>

{% endblock  %}
